<h1>{{sponsor.first_name}} {{sponsor.last_name}}</h1>
<p>Chamber: {{sponsor.chamber}} State: {{sponsor.state_name}} District: {{sponsor.district}}</p>
<p>Twitter ID: {{sponsor.twitter_id}} (MAKE SURE TO TURN OFF YOUR LOCATION AND PUT ON YOUR TINFOIL HAT OR THEY'LL FIND YOU)</p>
<h3>OUR INVESTIGATIONS SHOW: </h3>
<h4>Secretly a {{sponsorTruth}}</h4>
